DIR_SETTINGS = {
    "OFFLINE_VACATION_PATH": "simple_vacancy.txt",
    "TEXT_EDITOR_PATH": r"C:\Program Files\Notepad++\notepad++.exe",
    "SAVE_LOCATION_DIR": "output_files/"
}

BASE_SETTINGS = {
    "OPEN_LOCAL_COVER_LETTER": True,
    "INCLUDE_REQUEST_TEXT_TO_RESULT": True,  # Включить текст сырого запроса для генерации в итоговое письмо
    "ENABLE_AI_G4F": True
}

WORDS_FOR_REPLACE = {
    "django framework": "Django",
    "django rest framework": "Django Rest Framework",
    "DjangoRESTFramework": "Django Rest Framework",
    "drf": "Django Rest Framework",
    "fast api": "FastAPI",
    "fastapi": "FastAPI",
    "postgres": "PostgreSQL",
    "github": "Git",
    "docer compose": "Docker compose",
    "nginx": "nginx",
}

RESERVED_WORDS = {
    "ООП": "с использованием ООП",
}
